* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.productContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  justify-content: space-between;
  position: relative;
  padding: 20px;
  align-items: center;
}
#cartCount{
  margin-left: 5px;
}
.productContainer .foodCart {
  width: 100%;
  height: 350px;
  border-radius: 12px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  text-align: center;
}
.productContainer .foodCart .imageBox {
  width: 100%;
  height: 250px;
}
.productContainer .foodCart .imageBox img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.productContainer .foodCart #addButton button {
  background-color: blueviolet;
  color: white;
  width: 150px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  cursor: pointer;
}
.orderDetail{
  width: 90%;
  margin: auto;
  margin-top: 80px;
  display: flex;
  justify-content: flex-start;
  gap: 150px;
  font-size: 18px;
  font-weight: bolder;
  color: grey;
}
.orderDetail div{
  display: flex;
  gap: 2px;
  justify-content: center;
  align-items: center;
}
.orderDetail div div{
  width: 10px;
  height: 10px;
  background-color: gray;
  border-radius: 50%;
}

